<!DOCTYPE html>
<html>
<head>

<title>Detect Phishing Sites</title>
<link rel="stylesheet" type="text/css" href="/static/style.css">

</head>
<body>

<div class="container">
<form action="http://127.0.0.1:8050/request" method="post">
	<label><b></b></label>
	<br>

	<input type="text" id="data" placeholder="Enter Url to Check" name="url" required>
	<br>
	<input type="submit"  value ="Check">

</form>
</div>
<div class="footer"
<footer class="main-footer">
				<p>Copyright &copy; 2018 Phishing Detection</p>
			
</footer>
</div>




</body>
</html>