

<!DOCTYPE html>
<html>
<head>
	<title>DETECTION</title>
	<link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<form>
<div class="container">
	

<input type="text" placeholder="Enter the URL to check" name="url" required>
	<br>
	
	<div style="text-align:center">  
     <input type="submit" value ="Check" > 
</div> 


</form>
</div>
<div class="footer"
<footer class="main-footer">
				<p>Copyright &copy; 2018 Phishing Detect</p>
			
</footer>
</div>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</body>
</html>
